*{
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}

.button{
  width: 150px;
  height: 40px;
  color: white;
  background-color: rgb(85, 85, 243);
  border-radius: 5px;
  border: 0px solid transparent;
  margin-right: 10px;
}

.buttonsdiv{
  background-color: blueviolet;
  padding-top: 10px;
}

.sortname{
  background-color: rgb(104, 103, 103);
}

.sortpopularity{
  background-color: rgb(62, 180, 165);
}